.cart-page {
  padding: 5px;

  display: flex;
  justify-content: center;
 gap:0px 10px ;
}
.course-side {
  padding: 5px;
  margin-top: 100px;
  background-color: rgb(223, 218, 218);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 100px;
  border-radius: 16px;
  padding: 50px;
}

.item-container {
  display: flex;
  flex-direction: column;
}
.cart-item {
  margin: 10px 0;
  display: flex;
  flex-direction: row-reverse;
  height: 200px;
  background-color: #fafafa;

}

.item-info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin: 0 10px;
  justify-content: space-between;
}

.item-name {
  margin-top: 10px;
}
.item-price {
  margin-bottom: 10px;
}

.item-image {
  height: 100%;
  width: auto;
}

.summary-side {
  border: 1px sold #eee;
  padding: 10px;
  /* background-color: #fff; */
  width: 500px;
  background-color: rgb(223, 218, 218);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 100px;
  border-radius: 16px;
  padding: 50px;
}
.field {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin: 15px 0;
}
.field-name {
}
.field-value {
}

.bank-cart {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}
.bank-cart-img {
  width: 100%;
  z-index: 1000;
}
.registerbtn1{
  background-color: #4c04dd;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 500px;
    opacity: 0.9;
}
